:root {
    --textColor: #312F2F;
    --OtherTextColor: #444242;
    --backgroundColor: #F5FBEF;
    --OtherBackgroundColor: #DFE4D9;
    --highlight: #FF5666;
}
:root.darkTheme {
    --textColor: #F5FBEF;
    --OtherTextColor: #DFE4D9;
    --backgroundColor: #312F2F;
    --OtherBackgroundColor: #444242;
    --highlight: #FF5666;
}
body {
    padding: 0;
    margin: 0;
}
.mainContainer {
    display: flex;
    height: 100vh;
}
.sideHero {
    background-image: url(/pics/sidePic.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 35vw;
    display: flex;
}