:root {
    --textColor: #312F2F;
    --otherTextColor: #444242;
    --backgroundColor: #F5F5F5;
    --otherBackgroundColor: #EFE4E9;
    --highlight: #FF5666;
}
:root.darkTheme {
    --textColor: #F5FBEF;
    --otherTextColor: #DFE4D9;
    --backgroundColor: #312F2F;
    --otherBackgroundColor: #444242;
    --highlight: #FF5666;
}

body {
    padding: 0;
    margin: 0;
    background-color: red;
}
.mainContainer {
    display: flex;
    height: 100vh;
}
/* side hero CSS */
.sideHero {
    background-image: url(/pics/sidePic.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 35vw;
    display: flex;
    flex-direction: column;
}
.logoContainer {
    height: auto;
    background-color: rgba(255,255,255,0.8);
    position: relative;
    top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoImg {
    height: 20vh;
    overflow: hidden;
}
.logoTitle {
    padding: 0;
    margin: 0;
    color: black;
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    overflow: hidden;
}
.logoCredit {
    position: relative;
    top: 75vh;
    text-align: right;
    padding-right: 1vw;
    color: white;
    font-family: 'Indie Flower', cursive;
}
/* side Form CSS */
.sideForm {
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    flex: 1;
}
.formContainer{
    background-color: var(--otherBackgroundColor);
}
h1, h2{
    color: var(--textColor);
    padding-left: 2vw;
    padding-top: 2vh;
    margin: 0;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
}
h3 {
    color: var(--otherTextColor);
    padding-left: 2vw;
    padding-top: 5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}
input:invalid {
  border: 2px dashed red;
}
input:valid {
    border: 2px solid black;
}